
 <div style="background-color:grey ;height:600px; width: 100%">



<div class="login" *ngIf="flag==0">   
     
         <div class="inputBox" >
                    <label for="email">Email Id</label>
                    <input [(ngModel)]="email" type="email" class="form-control"><br>
                    <button (click)="GenerateOtp()" style="text-align: center;"  class="btn btn-primary ">Generate OTP</button> 
          </div>
      
 </div>


 



<div class="" *ngIf="flag==1">
     
            <div class="inputBox" >
                    <label for="otp">Enter OTP here</label>
                    <input [(ngModel)]="OTP" type="text" class="form-control"><br>
                    <button (click)="ValidateOtp()" style="text-align: center;" type="submit" class="btn btn-primary ">Validate OTP</button> 
             </div>
      
 </div>
       
  <div class="" *ngIf="flag==2">
         
                      <div class="inputBox" id="id1"  runat="server">
                          <label for="npassword">Enter New Password</label>
                          <input [(ngModel)]="Password" type="password" class="form-control"><br>
                      </div> 

                      <div class="inputBox">
                        <label for="cpassword">Confirm Password</label>
                        <input [(ngModel)]="cpassword" type="password" class="form-control"><br>
                      </div>   <br> 
                
         <button (click)="ChangePassword()" style="text-align: center;" type="submit" class="btn btn-primary ">Change Password</button> &nbsp; &nbsp;
              
                <span>
                    {{message}}
                </span>
       
        
 </div>

</div>
    
    
    
    
      
      
    
    
    
    
    
    
    
    
    
      
      
    
    
    