<div style="background-color:grey ;height:600px; width: 100%">
<div class="login">
<div class="inputBox">


    <div class="form-group">
        <label for="ProductId">ProductId</label>
        <input [(ngModel)]="T_Products.ProductId" type="text" class="form-control" id="ProductId" name="ProductId">
    </div>

<div class="form-group">
    <label for="ProductName">Product Name</label>
    <input  [(ngModel)]="T_Products.ProductName" type="text" class="form-control" id="ProductName" name="ProductName">
</div>

<div class="form-group">
    <label for="ProductDescription">Product Description</label>
    <input  [(ngModel)]="T_Products.ProductDescription" type="text" class="form-control" id="ProductDescription" name="ProductDescription">
</div>

<div class="form-group">
    <label for="ProductPrice">Product Price</label>
    <input  [(ngModel)]="T_Products.ProductPrice" type="text" class="form-control" id="ProductPrice" name="ProductPrice">
</div>

<div class="form-group">
    <label for="CategoryId">CategoryId</label>
    <input [(ngModel)]="T_Products.CategoryId" type="text" class="form-control" id="CategoryId" name="CategoryId">
</div>

<button type="button" (click)="Update()" class="btn btn-primary">Update</button>

<span>
    {{message}}
</span>

</div>
</div>
</div>
