
 <div style="background-color:grey ;height:600px; width: 100%">

 <div class="login">

          <div class="inputBox">
       
    
                <div  >
                        <label for="Opassword">Enter old password</label>
                        <input [(ngModel)]="Opassword" type="password" class="form-control"><br>
                       
                 </div>
          
 
             
                          <div  id="id1"  runat="server">
                              <label for="Npassword">Enter New Password</label>
                              <input [(ngModel)]="Npassword" type="password" class="form-control"><br>
                          </div> 
    
                          <div >
                            <label for="Cpassword">Confirm Password</label>
                            <input [(ngModel)]="Cpassword" type="password" class="form-control"><br>
                          </div>   <br> 
                    
             <button (click)="ChangePassword()" style="text-align: center;" type="submit" class="btn btn-primary ">Change Password</button> &nbsp; &nbsp;
                  
                    <span>
                        {{message}}
                    </span>
           
            

    
    </div>
    
</div>

</div>
        
        
        
        
          
          
        
        
        
        
        
        
        
        
        
          
          
        
        
        