/* .creditCardForm {
    max-width: 600px;
    margin-left: 400px;
    background-color: #fff;
    margin-top: 1px;
    overflow: hidden;

} 
.creditCardForm label {
    width: 100%;
    margin-bottom: 10px;
}
.creditCardForm .heading h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #4c4e56;
}
.creditCardForm .payment {
    float: left;
    font-size: 14px;
    padding: 10px 25px;
    position: relative;
}
.creditCardForm .payment .form-group {
    float: left;
    margin-bottom: 15px;
}
.creditCardForm .payment .form-control {
    line-height: 20px;
    height:40px;
    padding: 0 16px;
} 
.creditCardForm .owner {
    width: 63%;
    margin-right: 10px;
}
 .creditCardForm .CVV {
    width: 35%;
}
.creditCardForm #card-number-field {
    width: 100%;
}
.creditCardForm #expiration-date {
    width: 49%;
}
.creditCardForm #credit_cards {
    width: 50%;
    margin-top: 25px;
    text-align: right;
}
.creditCardForm #pay-now {
    width: 100%;
    margin-top: 25px;
} 
.creditCardForm .payment .btn {
    width: 100%;
    margin-top: 0px;
    font-size: 24px;
    background-color: #2ec4a5;
    color: white;
}
.creditCardForm .payment select {
    padding: 10px;
    margin-right: 15px;
}
.transparent {
    opacity: 0.2;
}
@media(max-width: 650px) {
    .creditCardForm .owner,
    .creditCardForm .CVV,
    .creditCardForm #expiration-date,
    .creditCardForm #credit_cards {
        width: 100%;
    }
    .creditCardForm #credit_cards {
        text-align: left;
    }
} 
 */


 .login
{
    position: relative;
    top:1px;
    height:400%;
    width:60%;
    left:40%;
}
.inputBox
{
    height:80%;
    width:40%;
    right:40%;

} 

