.login
{
    position: relative;
    top:50px;
    height:400%;
    width:80%;
    left:10%;
    /* background-image: url('src\assets\nature.jpg'); */
}
.inputBox
{
    height:80%;
    width:90%;
    right:40%;

}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 15px;
    text-align: left;
  }
  table#t01 {
    width: 100%;    
    background-color: #f1f1c1;
  }
